.main__fortune{

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardPhrase{

    font-size: 22px;

    min-width: 300px;
    max-width: 600px;

   height: 300px;
   
  display: flex;
  align-items: center;

    color: rgb(13, 13, 13);
   
}
.phrase{
    margin: 5%;
    padding: 5%;

    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.533);
    background-color: rgba(255, 255, 255, 0.891);
}
.boton{

   

    font-size: 20px;
    padding: 12px;

    text-decoration: none;

    border: none;
    

    color: rgb(6, 4, 4);
    box-shadow: 2px 2px 8px black;
}
.boton:hover{

    cursor: pointer;
    background-color: aliceblue;
}