*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background: radial-gradient(rgb(206, 204, 204) 10%,rgb(30, 126, 209) 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns:  auto auto ;
}
.search{
    margin-top: 30px;
}

button{
    width: auto;
    height: auto;
    margin-top: 20px;
    border: none;
    border-radius: 4.85px;
    background: #38a0d8;
    color: white;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0,0,0,0.25));
    transition: 0.2s;
    font-weight:12px;
    
}

button:hover{
    background: #1483be;
    cursor: pointer;
}
h4{
    padding-top: 16px;
}
.card {
    width: 400px;
    height: 180px;
    padding: 10px;
    background: linear-gradient(#e5f2ff, #d5f3ff);
    border-radius: 4.85px;
    offset: 0px 4.85;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0,0,0,0.25));
    border-radius: 30px 100% 0 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30%;
  
}
img{
    position: absolute;
    margin-left: 7rem;
    width: 129px;
    height: auto;
}

/*------------------ MEDIA SCREEN-------------------------*/
@media (min-width: 480px) {
    img{
    margin-left: 12rem;
    width: 129px;
    height: auto;
    }
}
@media (min-width: 980px) {
    img{
    margin-left: 17rem;
    width: 149px;
    height: auto;
    }
}
@media (min-width: 1000px) {
    img{
    margin-left: 17rem;
    width: 200px;
    height: auto;
    }
    .card{
        width: 30rem;
    }
}
@media (min-width: 1200px) {
    .card{
        width: auto;
        height: 250px;
    }
    .search{
        width: auto;
        margin-left: 10rem;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .card{
        width: auto;
        height: 250px;
    }
    .search{
        width: auto;
        margin-left: 5rem;

    }
}
@media (max-width: 767px) {
    .card{
        width: 400px;
        height: 250px;
    }
    .search{
        width: auto;
        margin-left: 1rem;
    }
    
}
@media (max-width: 480px) {
    .card{
        width: auto;
        height: 200px;
    }
    .search{
        width: auto;
        margin-left: 1rem;
    }
    
}
